<p id="notice"><%= notice %></p>

<br>
<h3>Departamentos</h3>
<br>
<%= link_to 'Criar novo departamento', new_departamento_path, class:"btn btn-default" %>
<br>
<br>
<table class="table table-bordered table-houver">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.nome %></td>
        <td><%= link_to 'Ver produtos', departamento, class:"btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_departamento_path(departamento), class:"btn btn-default" %></td>
        <td><%= link_to 'Deletar', departamento, method: :delete, data: { confirm: 'Você tem certeza que quer remover este produto?' }, class:"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>




