<!DOCTYPE html>

<br>
<br>
<br>
<h3>Novo produto:</h3>

<% @produto.errors.full_messages.each do |msg| %>
	<div class="alert alert-danger" role="alert">
		<%= msg %>
	</div>	
<% end %>

<%= form_for @produto do |form| %>
	<!-- nome (do produto) -->
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<%= form.label :nome %>
				<%= form.text_field :nome, class:"form-control"	%>
			</div>
		</div>
	</div>
	<!-- descrição (do produto) -->
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<%= form.label :descricao %>
				<%= form.text_area :descricao, class:"form-control", rows:4 %>
			</div>
		</div>
	</div>
	<!-- departamento (do produto) -->
	<div class="row">
		<div class="col-sm-2">
			<div class="form-group">
				<%= form.label :departamento %>
				<%= form.collection_select :departamento_id, @departamentos, :id, :nome, {}, class: "form-control" %>
			</div>
		</div>
	</div>
	<!-- preço (do produto) -->
	<div class="row">
		<div class="col-sm-2">
			<div class="form-group">
				<%= form.label :preco %>
				<%= form.number_field :preco, step:0.01, class:"form-control" %>
			</div>
		</div>
	</div>
	<!-- quantidade (do produto) -->
	<div class="row">
		<div class="col-sm-2">
			<div class="form-group">
				<%= form.label :quantidade %>
				<%= form.number_field :quantidade, class:"form-control" %>
			</div>
		</div>
	</div>	
	<%= form.submit texto_da_acao , class:"btn btn-primary" %>		
<% end %>